@font-face {
  font-family: 'Babushkafont';
  src: url('font/Babushka_Font.eot');
  src: url('font/Babushka_Font.eot?#iefix') format('embedded-opentype'),
    url('font/Babushka_Font.woff') format('woff'),
    url('font/Babushka_Font.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


*,
body {
  font-family: garamond-premier-pro-subhead, serif;
  font-weight: 400;
  font-style: italic;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #231B21;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body {
  background-color: #F7F2EB;
}

body::-webkit-scrollbar {
  display: none;
}

#main_container {
  max-width: 1000px;
  width: 100vw;
  padding: 0 20px;
}

h1 {
  font-family: Babushkafont, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.3rem;
  line-height: 3rem;
  margin-top: 20px;
}

h1 span {
  font-family: garamond-premier-pro-subhead, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4rem;
}

h2 {
  font-family: Babushkafont, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 1.5rem;
  margin-top: 10px;
  color: #9B3A35;
}

h2 span {
  font-family: garamond-premier-pro-subhead, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: #9B3A35;
}

h3 {
  font-family: Babushkafont, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

p,
button {
  font-family: garamond-premier-pro-subhead, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin: 5px 0;
}

button {
  background-color: #9B3A35;
  border: none;
  color: #fff;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: 10px 10px 30px 0;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

button:hover {
  cursor: pointer;
  background-color: #5F747A;
  box-shadow: 0 3px 15px rgba(35, 27, 33, 0.5);
  transform: scale(1.05);
}

#sorter_section .valgt {
  background-color: #D8BF9C;
  color: #231B21;
  transform: scale(1);
  border: 0 solid #000;
  box-shadow: 0 3px 15px rgba(35, 27, 33, 0);
  transition: .05s;
  cursor: inherit;
}

button:focus {
  outline: 0;
}







#splash,
#splash2,
#splash3,
#splash4,
#splash5 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

#splash {
  background-image: url(billeder/splash.jpg);
}

#splash2 {
  background-image: url(billeder/splash2.jpg);
}

#splash3 {
  background-image: url(billeder/splash3.jpg);
}

#splash4 {
  background-image: url(billeder/splash4.jpg);
}

#splash5 {
  background-image: url(billeder/splash5.jpg);
}


#space_top {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

#title,
#title span {
  font-size: 8rem;
  line-height: 12rem;
  color: #D8BF9C;
  position: relative;
  text-shadow: 0px 0px 20px rgba(126, 39, 35, 0.7);
}

#nav_bg {
  width: 100%;
  height: calc(100vh + 4rem);
  position: fixed;
  z-index: 3;
  top: -100vh;
  left: 0;
  background-color: #9b3a35;
}

header {
  z-index: 4;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  width: calc(100% - 40px);
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  flex-direction: row;
}

#nav1 {
  width: 200px;
  height: 40px;
  background-image: url(billeder/logo_main.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 0 10px 0;
}

#nav2 {
  margin: 15px 0 15px 0;
}

#nav2 a {
  color: #D8BF9C;
  text-decoration: none;
  font-size: 1.6rem;
  margin-left: 50px;
  border-bottom: 0px solid #231B21;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

#nav2 a:hover {
  text-shadow: 0 1px 5px rgba(35, 27, 33, 0.6);
  color: #5F747A
}

#nav3 {
  display: none;
}







.img_overlay {
  width: 100%;
  height: 100%;
  background: rgb(35, 27, 33);
  background: linear-gradient(30deg, rgba(35, 27, 33, 1) 0%, rgba(155, 58, 53, 1) 50%, rgba(216, 191, 156, 1) 100%);
  mix-blend-mode: soft-light;
}

#ret_billede {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 15px rgba(35, 27, 33, 0.15);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

#ret_tekst {
  box-shadow: 0 5px 15px rgba(35, 27, 33, 0.15);
  padding: 10px;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  background-color: #fff;
}

.ret {
  display: flex;
  flex-direction: column;
}

.ret:hover {
  cursor: pointer;
}

.ret:nth-child(odd):hover #ret_billede {
  box-shadow: 0 5px 30px rgba(35, 27, 33, 0.45);
  transform: scale(1.05) rotate(-0deg) translateY(2px);
}

.ret:nth-child(even):hover #ret_billede {
  box-shadow: 0 5px 30px rgba(35, 27, 33, 0.45);
  transform: scale(1.05) rotate(0deg) translateY(2px);
}

.ret:nth-child(odd):hover #ret_tekst {
  box-shadow: 0 5px 50px rgba(35, 27, 33, 0.35);
  transform: scale(1.1) rotate(1deg) translateY(-4px);
}

.ret:nth-child(even):hover #ret_tekst {
  box-shadow: 0 5px 50px rgba(35, 27, 33, 0.35);
  transform: scale(1.1) rotate(-1deg) translateY(-4px);
}

.ret:nth-child(odd):hover #pris {
  box-shadow: 0 5px 10px rgba(35, 27, 33, 0.15);
  transform: rotate(-2deg) translateY(-20px);
}

.ret:nth-child(even):hover #pris {
  box-shadow: 0 5px 10px rgba(35, 27, 33, 0.15);
  transform: rotate(2deg) translateY(-20px);
}

#pris {
  text-align: center;
  padding: 20px 15px 10px 15px;
  margin: 10px;
  color: #D8BF9C;
  background-color: #9B3A35;
  transform: rotate(0deg) translateY(-60px);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  align-self: flex-end;
  z-index: -1;
}

#data_fill {
  max-width: 1000px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0px 60px;
}







#menu_section {
  width: 33%;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 50px 0;
  opacity: .5;
}

.ret {
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}






#lightbox_bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #231B21;
  display: none;
}

#ret_billede2 {
  width: 100%;
  height: 70vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 15px rgba(35, 27, 33, 0.15);
  z-index: 3;
  max-width: 1000px;
  max-height: 500px;
}

#ret_tekst2 {
  box-shadow: 0 5px 15px rgba(35, 27, 33, 0.15);
  padding: 10px 30px;
  background-color: #fff;
}

#kort2 {
  font-size: 1.5rem;
}

#navn2 {
  font-size: 4.3rem;
  line-height: 5rem;
}

#navn2 span {
  font-size: 5rem;
}

.ret3 {
  width: calc(100vw - 40px);
  max-width: 960px;
  position: fixed;
  display: flex;
  flex-direction: column;
  transform: translateY(0vh);
}

.pull_up {
  animation: pull_up-kf .5s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes pull_up-kf {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

.pull_down {
  animation: pull_down-kf .5s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes pull_down-kf {
  100% {
    transform: translateY(100vh);
  }

  0% {
    transform: translateY(0);
  }
}

.show_lightbox {
  animation: show_lightbox-kf .5s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes show_lightbox-kf {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .7;
  }
}

.hide_lightbox {
  animation: hide_lightbox-kf .5s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes hide_lightbox-kf {
  100% {
    opacity: 0;
  }

  0% {
    opacity: .7;
  }
}

#pris2 {
  padding: 10px 30px 20px 30px;
  color: #5F747A;
  background-color: #fff;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  font-size: 2rem;
}

#data_fill2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transform: translateY(20px);
}





















#splash_section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.splash_left {
  animation: splash_left-kf 1.4s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes splash_left-kf {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

.splash_right {
  animation: splash_right-kf 1.4s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes splash_right-kf {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(-100vw);
  }
}





#menu_aabning_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

#menu_section,
#aabning_section {
  flex-grow: 1;
  flex-basis: 300px;
}

li {
  list-style: none;
}

footer {
  margin: 0 0;
}

footer h2 {
  margin-bottom: 5px;
}

footer p {
  margin-top: 50px;
}

.burger_down {
  animation: burger_down-kf .5s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes burger_down-kf {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(100vh - 4rem));
  }
}

.burger_up {
  animation: burger_up-kf .5s cubic-bezier(.3, 0, .2, 1) both;
}

@keyframes burger_up-kf {
  0% {
    transform: translateY(calc(100vh - 4rem));
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1000px) {

  h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 20px;
  }

  h1 span {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.7rem;
    line-height: 1.5rem;
    margin-top: 10px;
  }

  h2 span {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p,
  button {
    font-size: 1rem;
    margin: 5px 0;
  }

  button {
    padding: 8px 15px;
    font-size: 1.3rem;
    margin: 5px 10px 5px 0;
  }

  #title,
  #title span {
    font-size: 4rem;
    line-height: 4rem;
  }

  #data_fill {
    grid-gap: 0px 60px;
  }

  .ret:nth-child(odd):hover #ret_billede {
    transform: scale(1) rotate(0) translateY(0);
  }

  .ret:nth-child(even):hover #ret_billede {
    transform: scale(1) rotate(0) translateY(0);
  }

  .ret:nth-child(odd):hover #ret_tekst {
    transform: scale(1) rotate(0) translateY(0);
  }

  .ret:nth-child(even):hover #ret_tekst {
    transform: scale(1) rotate(0) translateY(0);
  }

  .ret:nth-child(odd):hover #pris {
    transform: rotate(0) translateY(-20px);
  }

  .ret:nth-child(even):hover #pris {
    transform: rotate(0) translateY(-20px);
  }

  #pris {
    transform: rotate(0deg) translateY(-20px);
  }

  #kort2 {
    font-size: 1rem;
  }

  #navn2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  #pris2 {
    font-size: 1rem;
    padding: 10px 10px;
  }

  #ret_tekst2 {
    padding: 10px 10px;
  }

  #burger {
    background-image: url(billeder/burger2.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    transform: translate(2px, 3px);
  }

  #nav2 a {
    display: none;
  }

  #nav3 {
    position: fixed;
    top: -100px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  #nav3 a {
    flex-basis: 1000px;
    text-align: end;
    color: #D8BF9C;
    text-decoration: none;
    font-size: 1.6rem;
  }

  #title,
  #title span {
    transform: translateY(-50px);
  }
}
