@font-face {
  font-family: 'Babushkafont';
  src: url('font/Babushka_Font.eot');
  src: url('font/Babushka_Font.eot?#iefix') format('embedded-opentype'),
    url('font/Babushka_Font.woff') format('woff'),
    url('font/Babushka_Font.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


*,
body {
  font-family: garamond-premier-pro-subhead, serif;
  font-weight: 400;
  font-style: italic;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #231B21;
}

#main_container {
  max-width: 1000px;
}

h1 {
  font-family: Babushkafont, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.3rem;
  line-height: 3rem;
  margin-top: 20px;
}

h1 span {
  font-family: garamond-premier-pro-subhead, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4rem;
}

h2 {
  font-family: Babushkafont, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 1.5rem;
  margin-top: 10px;
  color: #9B3A35;
}

h2 span {
  font-family: garamond-premier-pro-subhead, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: #9B3A35;
}

h3 {
  font-family: Babushkafont, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

p {
  font-family: garamond-premier-pro-subhead, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin: 5px 0;
}

button {
  background-color: #9B3A35;
  border: none;
  color: #fff;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: 10px 10px 30px 0;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

button:hover {
  cursor: pointer;
  background-color: #5F747A;
  box-shadow: 0 3px 15px rgba(35, 27, 33, 0.5);
  transform: scale(1.05);
}











#splash {
  width: 100vw;
  height: 100vh;
  background-image: url(billeder/splash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

#space_top {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  margin-bottom: 100px;
}

#title,
#title span {
  font-size: 8rem;
  line-height: 12rem;
  color: #D8BF9C;
  position: relative;
}

#nav_bg {
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px) brightness(2) grayscale(1) opacity(.5);
  background-color: rgba(199, 10, 0, 0.43);
}

header {
  z-index: 4;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  flex-direction: row;
}

#nav1 {
  width: 200px;
  height: 40px;
  background-image: url(billeder/logo_main.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 0 10px 0;
}

#nav2 {
  margin: 15px 0 15px 0;
}

#nav2 a {
  color: #D8BF9C;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0 20px;
}









#img_overlay {
  width: 100%;
  height: 100%;
  background: rgb(35, 27, 33);
  background: linear-gradient(30deg, rgba(35, 27, 33, 1) 0%, rgba(155, 58, 53, 1) 50%, rgba(216, 191, 156, 1) 100%);
  mix-blend-mode: soft-light;
}

#ret_billede {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 15px rgba(35, 27, 33, 0.15);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}

#ret_tekst {
  box-shadow: 0 5px 15px rgba(35, 27, 33, 0.15);
  padding: 10px;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  background-color: #fff;
}

.ret {
  display: flex;
  flex-direction: column;
}

.ret:nth-child(odd):hover #ret_billede {
  box-shadow: 0 5px 30px rgba(35, 27, 33, 0.25);
  transform: scale(1.03) rotate(-0deg) translateY(2px);
}

.ret:nth-child(even):hover #ret_billede {
  box-shadow: 0 5px 30px rgba(35, 27, 33, 0.25);
  transform: scale(1.03) rotate(0deg) translateY(2px);
}

.ret:nth-child(odd):hover #ret_tekst {
  box-shadow: 0 5px 30px rgba(35, 27, 33, 0.25);
  transform: scale(1.08) rotate(1deg) translateY(-4px);
}

.ret:nth-child(even):hover #ret_tekst {
  box-shadow: 0 5px 30px rgba(35, 27, 33, 0.25);
  transform: scale(1.08) rotate(-1deg) translateY(-4px);
}

.ret:nth-child(odd):hover #pris {
  box-shadow: 0 5px 10px rgba(35, 27, 33, 0.15);
  transform: rotate(-2deg) translateY(-20px);
}

.ret:nth-child(even):hover #pris {
  box-shadow: 0 5px 10px rgba(35, 27, 33, 0.15);
  transform: rotate(2deg) translateY(-20px);
}

#pris {
  text-align: end;
  padding: 20px 15px 10px 15px;
  margin: 10px;
  color: #5F747A;
  background-color: #fff;
  transform: rotate(0deg) translateY(-50px);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  align-self: flex-end;
  z-index: -1;
}

#data_fill {
  max-width: 1000px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 0px 60px;
}







#menu_section {
  width: 33%;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 50px 0;
  opacity: .5;
}

.ret {
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
}






#lightbox_bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #231B21;
  opacity: .5;
  display: none;
}

#ret_billede2 {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 15px rgba(35, 27, 33, 0.15);
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  z-index: 3;
  max-width: 1000px;
}

#ret_tekst2 {
  box-shadow: 0 5px 15px rgba(35, 27, 33, 0.15);
  padding: 10px;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  background-color: #fff;
  width: 1000px;
}

#kort2 {
  font-size: 1.5rem;
}

#navn2 {
  font-size: 5rem;
  line-height: 5rem;
}

#navn2 span {
  font-size: 5rem;

}

.ret2 {
  display: flex;
  flex-direction: column;
}

#pris2 {
  padding: 10px;
  color: #5F747A;
  background-color: #fff;
  transition: .4s;
  transition-timing-function: cubic-bezier(.3, 0, .2, 1);
  font-size: 2rem;
}

#data_fill2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
